#boxes{
    width: 80%;
    margin: auto;
    text-align: center;
}
#btns{
    padding: 20px;
    background: #f4f4f4;
    margin-bottom: 20px;
}
#btns .button{
    background: #fff;
    padding: 5px 10px;
    border: 0;
}
#btns .fa{
    font-size:30px;
}
#btns .fa-play-circle{
    color: green;
}

#btns .fa-pause-circle{
    color: red;
}
.box{
    position: relative;
    width: 100px;
    height: 100px;
    margin: 4px; 
    display: inline-block;

}
.red{
    background-color: red
}
.blue{
    background-color: blue
}
.green{
    background-color: green
}
.yellow{
    background-color: yellow
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    input[type='range'] {
      overflow: hidden;
      width: 1000px;
      -webkit-appearance: none;
      background-color: black;
    }
    
    input[type='range']::-webkit-slider-runnable-track {
      height: 10px;
      -webkit-appearance: none;
      color: green;
      margin-top: -1px;
    }
    
    input[type='range']::-webkit-slider-thumb {
      width: 10px;
      -webkit-appearance: none;
      height: 10px;
      cursor: ew-resize;
      background: white;
      box-shadow: -1000px 0 0 1000px rgb(59, 170, 74);
    }

}
